/* Reset default box model properties */
* {
  margin: 0;
  padding: 0;
}

/* Flexbox layout */
.container {
  /*border: 10px solid red;*/
  background-color: violet;
  display: flex;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  background-color: green;
  display: flex;
  width: 100%;
  height: 150px;
}

.wrapper {
  display: flex;
  flex: 1;
}

.wrapper .sidebar {
  background-color: grey;
  flex: 0 0 150px;
}

.wrapper .content {
  background-color: khaki;
  flex: 1 1 auto;
}

/* Website Header */
.header #image {
  background-color: greenyellow;
  flex: 0 0 150px;
}

.header #image img {
  max-width: 150px;
  height: auto;
}

.header #name {
  background-color: goldenrod;
  flex: 1 1 auto;
}

/* Main Content */
.content {
  box-sizing: border-box;
  padding: 10px;
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
}

.tiles_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
 
}

.tile {
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  position: relative;
}

.hobby_title {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hobby:hover .hobby_title {
  opacity: 0.8;
}

.skill_title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  background-color: white;
  opacity: 0;
}

.skill:hover .skill_title {
  opacity: 0.8;

}

.skill_title img {
  max-width: 100%;
  height: auto;
}

.tile > img {
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

/* Social Media Sidebar */
.sidebar {
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
}



/* test styling */
.skills_container div {
  background-color: indigo;
}