/* Reset default box model properties */
* {
  margin: 0;
  padding: 0;
}

/* Flexbox layout */
.container {
  border: 10px solid red;
  background-color: violet;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  box-sizing: border-box;

}

.header {
  background-color: green;
  display: flex;
  width: 100%;
  height: 150px;

}

.header #image {
  background-color: greenyellow;
  flex: 0 0 150px;
  
}

#image img {
  max-width: 150px;
  height: auto;
}

.header #name {
  background-color: goldenrod;
  flex: 1 1 auto;
  
}

.sidebar {
  background-color: grey;
  flex: 0 0 150px;
  /*height: 80%;*/


 


}

.content {
  background-color: khaki;
  flex: 1 1 auto;

}