
/* General styling */
body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  background-color: red;
}

/* LOGO styling */
.header {
  height: 15%;
  background-color: blue;
  position: relative;
}

#logo-img {
  width: 20%;
  height: 90%;
  background-image: url("logo.jpg"); 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  position: absolute;
  top: 5%;
} /* image sources: https://ih1.redbubble.net/image.644789492.9396/flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg, https://image.shutterstock.com/image-vector/shields-vector-set-260nw-206658940.jpg, https://t4.ftcdn.net/jpg/00/94/25/89/240_F_94258948_IisvId2018A9GlEOr6ZXgfqNm2FWNWKW.jpg (for practice purposes only) */

#logo-txt {
 height: 90%;
 position: absolute;
 top: 5%;
 left: 20%;
 display: flex;
 align-items: center;
}

.header h1 {
  height: 100%;
  margin: 0;
}

/* SIDEBAR styling */
.sidebar {
  width: 20%;
  height: 85%;
  background-color: darkgreen;
  float: left;
}

.sidebar h2 {
  text-align: center;
}

/* CONTENT styling */
.content {
  width: 80%;
  height: 75%;
  background-color: white;
  float: left;
  position: relative;
}

#unit-img {
  width: 25%;
  height: 50%;
  position: absolute;
  top: 5%;
  left: 2%;
  background-color: red;
}

.unit-info {
  width: 69%;
  height: 50%;
  position: absolute;
  top: 5%;
  left: 29%;
  background-color: aqua;
}

#characteristic h2 {
  text-align: center;
}

.unit-description {
  width: 96%;
  height: 40%;
  position: absolute;
  top: 60%;
  left: 2%;
  background-color: aquamarine;
}

/* FOOTER styling */
.footer {
  width: 80%;
  height: 10%;
  background-color: gray;
  float: left;
  
}

/* cleaning float:left; */
.cleaner {
  clear: both;
}



