/* Reset default box model properties */
* {
  margin: 0;
  padding: 0;
}

/* Flexbox layout */
.container {
  border: 10px solid red;
  background-color: violet;
  display: flex;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  background-color: green;
  display: flex;
  width: 100%;
  height: 150px;
}

.wrapper {
  display: flex;
  flex: 1;
}

.wrapper .sidebar {
  background-color: grey;
  flex: 0 0 150px;
}

.wrapper .content {
  background-color: khaki;
  flex: 1 1 auto;
}

/* Website Header */
.header #image {
  background-color: greenyellow;
  flex: 0 0 150px;
}

.header #image img {
  max-width: 150px;
  height: auto;
}

.header #name {
  background-color: goldenrod;
  flex: 1 1 auto;
}

/* Main Content */
.content {
  box-sizing: border-box;
  padding: 10px;
}

.skills {
  
}

.skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
 
}

.skills_container div {
  width: 200px;
  height: 200px;
  margin: 10px 10px;
}

.skills_container div img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

/* Social Media Sidebar */
.sidebar {
  text-align: center;
}
.sidebar ul {
  list-style-type: none;
}



/* test styling */
.skills_container div {
  background-color: indigo;
}