/* Reset default box model properties */
* {
  margin: 0;
  padding: 0;
}

/* Custom variables */
:root {
  --header_color: hsla(195, 100%, 56%, 0.4);
  --main_color: hsla(195, 100%, 76%, 0.4);
  --side_color: hsla(195, 100%, 66%, 0.4);
}

/* Flexbox layout */
.container {
  /*border: 10px solid red;*/
  background-color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  display: flex;
  width: 100%;
  height: 150px;
}

.wrapper {
  display: flex;
  flex: 1;
}

.wrapper .sidebar {
  background-color: var(--side_color);
  flex: 0 0 150px;
  display: flex;
  flex-direction: column;
}

.wrapper .content {
  background-color:var(--main_color);
  flex: 1 1 auto;
}

/* Website Header */
.header {
  background-color: var(--header_color);
}

.header #image {
  flex: 0 0 150px;
  opacity: 0.9;
}

.header #image img {
  max-width: 150px;
  height: auto;
}

.header #name {
  flex: 1 1 auto;
  box-sizing: border-box;
  padding: 10px;
  background-image: url("wood_texture2.jpg");
  background-origin: border-box;
  background-size: contain;
}

/* Main Content */
.content {
  box-sizing: border-box;
  padding: 10px;
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
}

.tiles_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
 
}

.tile {
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  position: relative;
  opacity: 0.9;
}

.tile > img {
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.hobby_title {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hobby:hover .hobby_title {
  opacity: 0.8;
}

.skill_title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  background-color: white;
  opacity: 0;
}

.skill:hover .skill_title {
  opacity: 0.9

}

.skill_title img {
  max-width: 100%;
  height: auto;
}

.favorites_title {
  position: absolute;
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.favorite:hover .favorites_title {
  opacity: 0.8;
}

/* Social Media Sidebar */
.sidebar {
  max-height: calc(100vh - 150px);
  justify-content: space-around;
  align-items: center;
}

.sidebar .social_media {
  width: 100px;
  height: 15%;
  text-align: center;
}

.social_media img {
  min-height: 100%;
  max-height: 100%;
  width: auto;
}

/* Animations */
.tile{
  animation-name: tiles;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  
}

.skill {
  animation-duration: 1.5s;
}

.favorite {
  animation-duration: 2s;
}

@keyframes tiles {
  0% {left: 100%;}
  100% {left: 0%;}
}


/* test styling */
.skills_container div {
  /*background-color: indigo;*/
}

.social_media {
  /*background-color: red;*/
}